@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using QuanLyHocSinh_ASP_MVC_Demo.Models
@model HocSinh

<h1>Đăng Nhập Tài Khoản</h1>
<form asp-action="LoginPage" asp-controller="Login" method="post">
    Email <input type="email" asp-for="Email"/>
    <br />
    Password <input type="password" asp-for="Passworld" />
    <br />
    <input type="submit" value="Login" />
</form>
@if(TempData["Message"] != null)
{
  <script>
    alert('@TempData["Message"]'); 
  </script>
}